/*--Main Container--*/
.main_view {
  float: left;
  position: relative;
}
/*--Window/Masking Styles--*/
.window {
  height:400px; width: 1095px;
  overflow: hidden; /*--Hides anything outside of the set width/height--*/
  position: relative;
}
.image_reel {
  position: absolute;
  top: 0; left: 0;
}
.image_reel img {float: left;}
.paging a {
  top:-20px;
  float:left;
  display:block;
  position: relative;
  left:495px;;
  width:10px;
  height:10px;
  background-color:rgba(255,255,255,0.5);
  margin-right: 5px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #610000;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.paging a.active {
  font-weight: bold;
  background: #920000;
  
}
.paging a:hover {font-weight: bold;}